*{
    margin: 0;
    padding: 0;

}

main{
    width: 100vw;
    height: 100vh;
    background-color: rgba(187, 142, 238, 0.767);
    display: flex;
    justify-content: center;
    align-items: center;

}

.content img{
    width: 400px;
    height: fit-content;
}

.content {
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}
h1{
    color:rgba(187, 142, 238, 0.767);
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;


}

#not{
    background-color: rgb(233, 69, 69);
    border: none;
    width: 80px;
    height: 30px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
}

#yes{
    background-color: rgb(125, 241, 135);
    border: none;
    width: 80px;
    height: 30px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
}